###############################################################################
# Terraform
###############################################################################

**/.terraform/*
*.tfstate
*.tfstate.*


###############################################################################
# Terraform Variables
###############################################################################

secrets.auto.tfvars


###############################################################################
# IDE
###############################################################################

.vscode/
.idea/

###############################################################################
# OS Files
###############################################################################

Thumbs.db
.DS_Store

###############################################################################
# Logs
###############################################################################

*.log*.retry



